{% extends 'base.html' %}
{% load static %}








{% block content %}





<div class="lg:pt-20 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4 flex items-center">
          <div class="w-full text-center">
            <div class="max-w-md mx-auto">
           <div class="px-20 h-full pb-5" >
            <img class="shadow-2xl rounded-2xl border" src="{{ object.image }}"/>
           </div>
            
              <h2 class=" font-extrabold text-3xl lg:text-5xl font-bold font-heading">
               {{ object.title }}
              </h2>
              
            </div>
            <div class="max-w-sm mx-auto ">
                
              <p class="mb-3 text-gray-400 border-b leading-loose">{{ object.description }}</p>
              
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

            
  
            {% for module in object.trainings %}
            <section class="mx-5 animate__animated animate__backInUp rounded-2xl border shadow mb-5">

                {% if module.0.video %}
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe class="rounded-2xl border" src="{{ module.0.video }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Program Overview"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></div>
            {% endif %}

            <div  id="{{module.0.title|cut:' '}}" data-accordion="collapse" data-active-classes="bg-white text-gray-900" >

                <h2 id="{{module.title|cut:' '}}-heading-{{module.0.id}}">
                  <button type="button" class="flex px-5 justify-between items-center py-5 w-full font-extrabold text-left text-gray-500" data-accordion-target="#{{module.0.title|cut:' '}}-body-{{module.0.id}}" aria-expanded="false" aria-controls="{{module.0.title|cut:' '}}-body-{{module.0.id}}">
                    <span>{{module.0.title}}</span>
                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </button>
                </h2>
                <div id="{{module.0.title|cut:' '}}-body-{{module.0.id}}" class="hidden mx-5" aria-labelledby="{{module.0.title|cut:' '}}-heading-{{module.0.id}}">
                  <div class="border-t py-5">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">{{module.0.description}}</p>
                    <h4 class="py-5 w-full font-extrabold text-left text-gray-500">Deliverables:</h4>
                    {%if access == 1%}
                    {% if module.3 %}
                    {% for paragraph in module.2 %}
                    {{paragraph}}
                    {% endfor %}
                    {% for link in module.1 %}
                    <a href="{{link.link}}"class="text-sm underline text-blue-500 font-extrabold">{{link.text}}</a>
                    {% endfor %}
                    {%else%}
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Your account (created at {{request.user.start_date}}) is not old enough to view this lesson yet, this is done to protect our platform's content and workouts.</p>
                    {% endif %}
                    {% else %}
                    <div class="mx-auto text-center">
                        <a href="{% url 'checkout'%}" class="py-2 px-3 bg-green-500 hover:bg-green-600 rounded-3xl text-xs text-center text-white transition duration-200">Start your 14 days of free workouts to get access!</a>
                    </div>
                    {% endif %}

                
                  </div>
                </div>
              </div>
            </section>
            {% endfor %}





{% endblock %}