{% extends 'base.html' %}

{% block content %}

{% load static %}

<div>
    <div class="h-screen bg-fit bg-opacity-5 bg-center px-8 mx-auto xl:px-0" style="background-image:linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg)">
        <div class="md:flex md:gap-12 pt-32 sm:px-20 lg:py-56">
             <div class="md:w-6/12">
                 <h1 class="text-black font-bold text-5xl sm:text-5xl">Cardiac Rehab <span class="text-red-500">Simplified.</span></h1>
                 <p class="mt-8  text-xl text-black">Heart Shield helps instutions and patients simplify cardiac rehab.</p>
                 <div class="mt-10">
                    <button type="button" class="w-full mr-3 py-3 px-6 border border-2 border-red-500 text-center rounded-xl transition bg-red-500 shadow-xl hover:bg-red-600 sm:w-max">
                        <a href="{% url 'register' %}" class="block text-white font-semibold">
                            Register
                        </a>
                    </button>
                 </div>
             </div>
             <div class="md:w-6/12 sm:shadow-xl sm:-mt-24 mt-10 object-none object-center  relative rounded-2xl py-10 bg-slate-400 ">
             <img style="width:100%;
             display:block;
             position:absolute;
             left:0;
             right:0;
             margin:auto;" class="object-contain absolute z-10 sm:h-96 h-36 mx-auto" src="https://i.imgur.com/IFvjvCL.png" />
             <img class="object-contain z-0 animate-[spin_20s_linear_infinite] sm:h-96 h-36 mx-auto" src="https://i.imgur.com/qmG5isD.png" />
             </div>
             
         </div>
     </div>
     
 </div>

                  




                                


                                


{% endblock %}